<table class="table">
  <thead>
  <tr>
    <th>Currency</th>
    <th>Amount</th>
    <th>Operation</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let m of moneys | async">
    <td>{{m.currency}}</td>
    <td>{{m.amount}}</td>
    <td><button (click)="remove(m.id)">Remove</button></td>
  </tr>
  </tbody>
</table>
<hr>
<div class="spacer"></div>
<div>
  <select [(ngModel)]="currency">
    <option [value]="undefined" [disabled]="true">Currency:</option>
    <option *ngFor="let c of currencies" value="{{c}}">{{c}}</option>
  </select>
  <input placeholder="Amount" [(ngModel)]="amount"/>
  <button (click)="add()">Add</button>
</div>
<!-- <router-outlet></router-outlet> -->
